<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>상세 프로필</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {
            $("#reviews-box").html("");
            showReview();

            $(function () {
                $("#rateYo").rateYo({
                    rating: 5,
                    fullStar: true
                });
            });
        });

        $(document).ready(function () {
            let id = $("#_id").text().trim()
            $.ajax({
                type: 'GET',
                url: '/pharmacist_db?id=' + id,
                success: function (res) {
                    let one_info = res['data'];
                    let pharm_img = one_info['pharm_img'];
                    let brief_explain = one_info['brief_explain'];
                    let name = one_info['pharm_name'];
                    let school = one_info['school'];
                    let career = one_info['career'];
                    let education = one_info['education'];
                    let detail_explain = one_info['detail_explain'];

                    let temp = `<div class="profile">
                                <img src="${pharm_img}"
                                class="img-fluid" alt="Responsive image">
                                <p></p>
                                <h1>약사 ${name}</h1>
                                <p>${brief_explain}</p>
                                <p>학력 ${school}</p>
                                <p>경력 ${career}</p>
                                <p>교육 ${education}</p>
                                <p>${detail_explain}</p>
                                </div>`
                    $('#pharmacist').append(temp);
                }
            });
        });


        function makeReview() {
            // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
            let phone_number = $("#phone_number").val();
            // let star = $("#star").val();
            let review_detail = $("#review_detail").val();
            let id = $("#_id").text().trim()

            let normalFill = $("#rateYo").rateYo("rating")

            // 2. 제목, 저자, 리뷰 중 하나라도 입력하지 않았을 경우 alert를 띄웁니다.

            // 3. POST /review 에 저장을 요청합니다.
            $.ajax({
                type: "POST",
                url: "/reviews_db",
                data: {
                    phone_number_give: phone_number,
                    star_give: normalFill,
                    review_detail_give: review_detail,
                    _id: id,
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function showReview() {
            let id = $("#_id").text().trim()

            // 1. 리뷰 목록을 서버에 요청하기
            // 2. 요청 성공 여부 확인하기
            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
            $.ajax({
                type: "GET",
                url: "/reviews_db",
                data: {_id: id},
                success: function (response) {
                    if (response["result"] === "success") {
                        let data = response['data'];
                        for (let i = 0; i < data.length; i++) {
                            let review = data[i];
                            let star = review['star_give'];
                            let detail = review['review_detail'];
                            let phone = review['phone_number'];

                            let temp = `<tr>
                                            <td>${star}</td>
                                            <td>${detail}</td>
                                            <td>${phone}</td>
                                        </tr>`
                            $('#reviews-box').append(temp)
                        }
                    } else {
                        alert("리뷰를 받아오지 못했습니다");
                    }
                }
            })
        }

        function validateLength(obj) {
            let content = $(obj).val();
            if (content.length > 140) {
                alert("리뷰는 140자까지 기록할 수 있습니다.");
                $(obj).val(content.substring(0, content.length - 1));
            }
        }

    </script>

    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

        h1,
        h5 {
            display: inline;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .profile {
            text-align: center;
        }

        .reviews {
            margin-top: 100px;
        }

        #_id {
            display: none;
        }


    </style>
</head>

<body>
<div id="_id">
    {{id}}
</div>

<div id="pharmacist">
</div>

<p></p>
<p></p>
<p></p>

<div class="profile">
    <button type="button" class="btn btn-danger">바로 상담하기</button>
</div>


<div class="container" style="max-width: 600px;">
    <div id="reviews" class="reviews">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">평점</th>
                    <th scope="col">상담후기</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody id="reviews-box">
                <!--                <tr>-->
                <!--                    <td>왕초보 8주 코딩</td>-->
                <!--                    <td>김르탄</td>-->
                <!--                    <td>역시 왕초보 코딩교육의 명가답군요. 따라하다보니 눈 깜짝할 사이에 8주가 지났습니다.</td>-->
                <!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>

    <img src="https://m.glossygirl.co.kr/file_data/evinie/2019/03/28/6b48e312e6bc971445b5f3019b37fe87.jpg"
         class="img-fluid" alt="Responsive image">


    <div class="info">
        <h1>후기를 입력해주세요.</h1>
        <p>후기를 입력하고 적립금 받아가세요</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">전화번호</span>
            </div>
            <input type="text" class="form-control" id="phone_number" placeholder="고객님의 번호를 입력해주세요.">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">평점</span>
            </div>
            <div id="rateYo"></div>
            <!--            <input type="number" min="0" max="5" class="form-control" id="star" placeholder="평점을 선택해주세요.">-->

        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">상담후기</span>
            </div>
            <textarea class="form-control" id="review_detail"
                      cols="30"
                      rows="5" placeholder="상담후기를 입력해주세요. 140자까지 입력할 수 있습니다."
                      onkeyup="validateLength(this)"></textarea>
        </div>

        <div class="profile">
            <button onclick="makeReview()" type="button" class="btn btn-primary">후기 등록하기</button>
        </div>
    </div>


</div>


</body>

</html>